{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ title }}</h1>
            </div>
            {% if markets %}
                <table>
                    <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for market in markets %}
                        <tr>
                            <td>{{ market['EXCHANGE'] }}</td>
                            <td>{{ market['TICKER'] }}</td>
                            <td>{{ market['DATE']|date('Y-m-d H:i:s') }}</td>
                            <td>{{ market['OPEN'] }}</td>
                            <td>{{ market['HIGH'] }}</td>
                            <td>{{ market['LOW'] }}</td>
                            <td>{{ market['CLOSE'] }}</td>
                            <td>{{ market['CHANGE']|number_format(2) }}%</td>
                            <td>{{ market['VOLUME'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }
        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }
        p {
            margin: 0 0 1em 0;
        }
        a {
            color: #0000F0;
        }
        a:hover {
            text-decoration: none;
        }
        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }
        table {
            border-collapse: collapse;
        }
        table th,
        table td {
            padding: 2px 6px;
            border: 1px solid black;
        }
        #wrapper {
            background: #FFF;
            margin: 1em auto;
        }
        #container {
            padding: 2em;
            margin: 0 auto;
        }
        #welcome, #status {
            margin-bottom: 2em;
        }
        #welcome h1 span {
            display: block;
            font-size: 75%;
        }
        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }
        #icon-book {
            display: none;
        }
    </style>
{% endblock %}
